{
  "extends": "airbnb",
  "overrides": [
    {
      "files": ["bin/*.js"],
      "rules": {
        "no-console": "off"
      }
    },
    {
      "files": ["test/*.js"],
      "env": {
        "mocha": true
      }
    }
  ]
}
